<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.charter">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Charter">
        <activity
            android:name=".saveActivity"
            android:exported="false" />
        <activity
            android:name=".config.radarConfigActivity"
            android:exported="false" />
        <activity
            android:name=".config.barConfigActivity"
            android:exported="false" />
        <activity
            android:name=".config.lineConfigActivity"
            android:exported="false" />
        <activity
            android:name=".config.pieConfigActivity"
            android:exported="false" />
        <activity
            android:name=".display.radarDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".display.pieDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".display.barDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".display.lineDispalyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>